.home{
    position: relative;
    padding: 10px 150px;
}

.home .container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.home-left{
    width: 600px;
}

.home .star1 {
    position: absolute;
    left: 15px;
}

.home .rang-lf {
    position: absolute;
    left: 300px;
    top: -10px;
    z-index: -1;
    width: 370px;
}

.home-left h1{
    margin-top: 100px;
    font-size: 54px;
    font-weight: 100;
}

.home-left p{
    font-size: 20px;
    margin: 20px 0;
}

.home .buttons {
    display: flex;
    gap: 10px;
}

.home .buttons .btn {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .7s ease;
}

.home .buttons .btn:hover {
    background: #fff;
    color: #000;
}

.home .buttons .video {
    border: none;
    background: #fff;
    padding: 0 25px;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 7px;
    transition: all .7s ease;
}

.home .buttons .video:hover {
    background: #000;
    color: #fff;
}

.home-lf-img {
    position: relative;
    left: -30px;
}

.home .star2 {
    position: absolute;
    top: 430px;
    left: 220px;
}

.home-right img {
    width: 700px;
}