.home{
    padding: 10px 100px;
}

.home .container {
    display: flex;
    justify-content: center;
}
 
.home .star1 {
    position: absolute;
    left: 15px;
}

.home .rang-lf {
    position: absolute;
    left: 300px;
    top: -10px;
    z-index: -1;
    width: 370px;
}

.home-left h1{
    margin-top: 100px;
    font-size: 40px;
    font-weight: 900;
}

.home-left p{
    font-size: 18px;
    margin: 20px 0;
}

.home .buttons {
    display: flex;
    gap: 10px;
}

.home .buttons .btn {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .7s ease;
}

.home .buttons .btn:hover {
    background: #fff;
    color: #000;
}

.home .buttons .video {
    border: none;
    background: #fff;
    padding: 0 25px;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 7px;
    transition: all .7s ease;
}

.home .buttons .video:hover {
    background: #000;
    color: #fff;
}

.home-lf-img {
    left: -30px;
    width: 400px;
}

.home-right img {
    width: 600px;
} 

@media (max-width: 1300px) {
    .home-left h1 {
        font-size: 38px;
    }
}

@media (max-width: 1100px) {
    .home-left h1 {
        font-size: 24px;
    }
    .home-left p {
        font-size: 14px;
    }
    .home .buttons .btn{
        font-size: 12px;
    }
    .home .buttons .video {
        font-size: 12px;
    }
    .home-right img {
        width: 500px;
    }
    .home-lf-img {
        width: 300px;
    }
}

@media (max-width: 850px) {
    .home .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .home .buttons{
        justify-content: center;
        text-align: center;
        margin: 10px 0;
    }
    .home-left p {
        padding: 10px 50px 0;
    }
}

@media (max-width: 550px) {
    .home {
        padding: 10px 30px;
    }
    .home-left h1{
        font-size: 18px;
    }
    .home-left p{
        font-size: 12px;
        padding: 10px 0 0;
    }
    .home-lf-img{
        width: 250px;
    }
    .home-right img {
        width: 400px;
    }
}