.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.header .logo img {
    width: 100px;
    
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.header nav ul li a{
    font-size: 20px;
}

.header .button {
    display: flex;
    align-items: center;
}

.header .button i {
    font-size: 28px;
    display: none;
    cursor: pointer;
}


@media (max-width: 850px) {
    .header  nav {
        display: none;
    }
    .header .button .btn {
        display: none;
    }
    .header .button i {
        display: block;
    }
}

@media (max-width: 575px) {
    .header {
        padding: 10px 50px;
    }
}
