.features {
    position: relative;
    padding: 10px 150px;
}

.features .container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 50px;
}

.features-img img {
    width: 700px;
}

.features-info h1 {
    font-size: 44px;
    font-weight: bold;
    margin: 15px 0 30px;
}

.features-info .con1 div,
.features-info .con2 div,
.features-info .con3 div{
    display: flex;
    gap: 15px;
    font-size: 18px;
    margin: 25px 0 10px;
}

.features-info p {
    font-size: 18px;
    color: #00000085;
    padding: 0 50px 0 0;
}
    