.download {
    position: relative;
    margin-top: 150px;
    padding: 10px 150px;
    display: flex;
    justify-content: center;
}

.download > img {
    position: absolute;
    top: -200px;
    left: -50px;
    z-index: -1;
}

.download-container{
    width: 2500px;
    height: 500px;
    background: url(../../assets/download-bg.png);
    background-size: cover;
    background-position: -100px;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 450px 70px 70px;
    gap: 20px;
    border-radius: 10px;
}

.download-container h1{
    font-size: 48px;
}

.download-container p{
    font-size: 18px;
}

.download-btn {
    width: 200px;
    padding: 13px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    i {
        font-size: 24px;
    }
}


@media (max-width: 1200px) {
    .download-container {
        padding: 70px 300px 70px 70px;
    }
    .download-container h1{
        font-size: 28px;
    }
    .download-container p{
        font-size: 14px;
    }
    .download-btn {
        font-size: 15px;
        padding: 10px;
        i {
            font-size: 18px;
        }
    }
}

@media (max-width: 1000px) {
    .download-container {
        background-position: -250px;
    }
}

@media (max-width: 800px) {
    .download {
        padding: 10px 50px;
    }
    .download-container {
        padding: 70px 200px 70px 50px;
    }
    .download > img {
        display: none;
    }
}

@media (max-width: 550px) {
    .download-container {
        padding: 50px;
        background-position: -450px;
    }
    .download-container h1{
        font-size: 20px;
    }
    .download-container p{
        font-size: 12px;
    }
    .download-btn {
        font-size: 14px;
        padding: 10px;
        width: 150px;
        i {
            font-size: 16px;
        }
    }
}